@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>
<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br />
    <hr />
    <h3>Total Expenses  $@ViewBag.Expenses</h3>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Value $ 
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var Expense in Model)
                    {
                        <tr>
                            <td>
                                @Expense.Id
                            </td>
                            <td>
                                @Expense.Value
                            </td>
                            <td>
                                @Expense.Description
                            </td>
                            <td>
                                <a class="text-decoration-none btn-primary" asp-action="CreateEditExpense" asp-controller="Home" asp-route-id="@Expense.Id">Edit</a>
                                <a class="text-decoration-none btn-danger" asp-action="DeleteExpense" asp-controller="Home" asp-route-id="@Expense.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
